h1, h2, h3, h4, img, figure, p {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: "Montserrat", serif;
}

a {
  text-decoration: none;
  outline: none;
  color: #fdcb46;
  cursor: pointer;
}

h3 {
  text-align: center;
}

#note_b, #chic_b, #delice_b, #palette_b {
  width: 1750px;
  height: 900px;
  grid-area: 1/4/1/4;
}

header {
  display: flex;
  background-color: #579c87;
  width: 100%;
  max-width: 100%;
  height: 16.2vw;
  max-height: 104.8666666667px;
  border-bottom: 0.1333333333vw solid #a1c181;
}
header h1 {
  font-size: 6vw;
  color: #fdcb46;
  letter-spacing: -2px;
  margin: auto;
  align-self: center;
}
@media screen and (min-width: 1100px) {
  header h1 {
    font-size: 66px;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  width: 100%;
  max-width: 1500px;
}
main .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 6.6vw 10.8vw 5.6vw 10.8vw;
}
@media screen and (max-width: 500px) {
  main .menu {
    flex-direction: column;
    align-content: center;
  }
}
main figure {
  display: flex;
  height: 50.5333333333vw;
  width: 35.7333333333vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 15px #e1e1e1;
}
@media screen and (min-width: 1100px) {
  main figure {
    max-height: 555.8666666667px;
    max-width: 393.0666666667px;
  }
}
@media screen and (max-width: 500px) {
  main figure {
    height: 80vw;
    width: 56.5333333333vw;
  }
}
main figure h2 {
  width: 25vw;
  font-size: 3vw;
}
main figure h3 {
  padding-top: 10%;
  font-size: 3vw;
}

#note {
  margin-bottom: 6.2666666667vw;
}
#note figure {
  background-color: #fcdfdb;
}
#note figure span {
  font-size: 5vw;
  background: linear-gradient(90deg, #f04d5f 0%, #f6916a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#note figure h2 {
  font-family: "Devonshire", cursive;
  font-weight: 300;
  color: #3d1319;
}
#note figure h3 {
  font-family: "Segoe Print";
  color: #3d1319;
}
@media screen and (max-width: 500px) {
  #note figure {
    padding: 0;
  }
}

#chic {
  margin-bottom: 6.2666666667vw;
}
#chic figure {
  background-color: #fff5fe;
}
#chic h2 {
  font-family: "Croissant One", cursive;
  font-size: 2vw;
  font-weight: 300;
  background: linear-gradient(143deg, #c67412 0%, #a56799 60%, #6e4ccc 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#chic h3 {
  color: #c67412;
  font-size: 3vw;
}

#delice {
  margin-bottom: 6.2666666667vw;
}
#delice figure {
  background-color: #edefef;
}
#delice h2 {
  font-family: "Dancing Script", cursive;
  font-size: 3vw;
  background: linear-gradient(113deg, #0228dd 25%, #0887fb 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#delice h3 {
  font-family: "SegoePrint";
  color: #0887fb;
  font-size: 3vw;
}

#palette {
  margin-bottom: 6.2666666667vw;
}
#palette figure {
  background-color: #fdfffd;
}
#palette h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 3vw;
  background: linear-gradient(113deg, #41963c 17%, #b8fa7c 59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#palette h3 {
  font-family: "SegoePrint";
  color: #72bf56;
  font-size: 3vw;
}

aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
aside .next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43.6vw;
  height: 7.8666666667vw;
  background-color: #579c87;
  margin-bottom: 14.6666666667vw;
  border-radius: 1.3333333333vw;
}
@media screen and (min-width: 1100px) {
  aside .next {
    width: 480px;
    height: 87px;
    margin-bottom: 160px;
    border-radius: 20px;
  }
}
aside .next p {
  color: #fdcb46;
  font-size: 4vw;
  margin: 0;
}
@media screen and (min-width: 1100px) {
  aside .next p {
    font-size: 35px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: #579c87;
  width: 100%;
  max-width: 100vw;
  height: 9.0666666667vw;
  max-height: 75px;
  border-top: 0.1333333333vw solid #a1c181;
}
footer nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  /*horizontal*/
  margin-left: 2.8vw;
  margin-right: 2.8vw;
}
footer nav h2 {
  font-size: 3vw;
}
@media screen and (min-width: 1100px) {
  footer nav h2 {
    font-size: 25px;
  }
}
footer nav h2 a {
  color: #fdcb46;
  text-decoration: none;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
