@font-face {
  font-family: "SegoePrint";
  src: url("../fonts/segoepr.ttf") format("truetype");
}
@font-face {
  font-family: "SegoePrintBold";
  src: url("../fonts/segoeprb.ttf") format("truetype");
}
@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(2deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(2deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-2deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(2deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-2deg);
  }
}
@keyframes pulse {
  0% {
    background-color: #579c87;
  }
  100% {
    background-color: #fdcb46;
  }
}
h1, h2, h3, h4, img, figure, p {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: "Montserrat", serif;
}

a {
  text-decoration: none;
  outline: none;
  color: #fdcb46;
  cursor: pointer;
}

#h2 {
  text-align: center;
  font-size: 3vw;
  margin-top: 4vw;
}
@media screen and (min-width: 1500px) {
  #h2 {
    font-size: 32px;
    margin-top: 60px;
  }
}

#menunote {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: #fcdfdb;
  max-height: 1684px;
  max-width: 1190px;
  height: 112.2666666667vw;
  width: 79.3333333333vw;
  box-shadow: 0 0 15px #e1e1e1;
  margin: 1.8666666667vw 10.8vw 13.3333333333vw 10.8vw;
}
@media screen and (min-width: 1500px) {
  #menunote {
    align-content: center;
    margin: 28px auto 200px auto;
  }
}
@media screen and (max-width: 500px) {
  #menunote {
    margin: 6% 0 6% 0;
    width: 100%;
    height: 100%;
    align-content: initial;
  }
}
#menunote .debut {
  margin-bottom: 2.6666666667vw;
  text-align: center;
}
@media screen and (min-width: 1500px) {
  #menunote .debut {
    margin-bottom: 40px;
  }
}
#menunote .debut span {
  margin-top: 6vw;
  font-size: 6vw;
  background: linear-gradient(90deg, #f04d5f 0%, #f6916a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 1500px) {
  #menunote .debut span {
    font-size: 80px;
    margin-top: 90px;
  }
}
#menunote .debut h3 {
  font-size: 5vw;
  color: #3d1319;
  font-family: "Devonshire", cursive;
  font-weight: 400;
}
@media screen and (min-width: 1500px) {
  #menunote .debut h3 {
    font-size: 70px;
  }
}
@media screen and (max-width: 500px) {
  #menunote .debut {
    margin-bottom: 4vw;
  }
  #menunote .debut span {
    font-size: 8vw;
  }
  #menunote .debut h3 {
    font-size: 7vw;
  }
}
#menunote .fin {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  align-items: center;
  justify-content: center;
}
#menunote .fin span {
  font-size: 4.2vw;
  background: linear-gradient(90deg, #f04d5f 0%, #f6916a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 1vw;
}
@media screen and (min-width: 1500px) {
  #menunote .fin span {
    font-size: 60px;
    margin-right: 15px;
  }
}
#menunote .fin h5 {
  font-family: "Devonshire", cursive;
  font-weight: 400;
  font-size: 4vw;
  margin: 0;
}
@media screen and (min-width: 1500px) {
  #menunote .fin h5 {
    font-size: 55px;
  }
}
@media screen and (max-width: 500px) {
  #menunote .fin {
    margin-bottom: 4%;
  }
  #menunote .fin span {
    font-size: 6.2vw;
  }
  #menunote .fin h5 {
    font-size: 6vw;
  }
}
#menunote .titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto 8.4vw auto 8.4vw;
}
#menunote .titre img {
  width: 32%;
  height: auto;
  color: #3d1319;
}
#menunote .titre h4 {
  font-size: 2.2vw;
  font-family: "SegoePrintBold", cursive;
  font-weight: 400;
}
@media screen and (min-width: 1500px) {
  #menunote .titre h4 {
    font-size: 35px;
  }
}
@media screen and (min-width: 1500px) {
  #menunote .titre {
    margin: auto 126px auto 126px;
  }
}
@media screen and (max-width: 500px) {
  #menunote .titre {
    margin: auto 2% 2.6666666667vw 2%;
  }
  #menunote .titre img {
    width: 30%;
  }
  #menunote .titre h4 {
    font-size: 3.2vw;
  }
}
#menunote .plat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vw 8.6vw 7.3333333333vw 8.6vw;
  line-height: 280%;
  font-size: 1.5vw;
  font-family: "SegoePrint", cursive;
}
@media screen and (min-width: 1500px) {
  #menunote .plat {
    margin: 30px 129px 110px 129px;
    font-size: 22px;
  }
}
#menunote .plat .prix {
  font-weight: bold;
  text-align: right;
}
@media screen and (max-width: 500px) {
  #menunote .plat {
    font-size: 2.5vw;
    margin: 2vw 4% 10vw 4%;
  }
}

#menuchic {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: #fff5fe;
  max-height: 1684px;
  max-width: 1190px;
  height: 112.2666666667vw;
  width: 79.3333333333vw;
  box-shadow: 0 0 15px #e1e1e1;
  margin: 1.8666666667vw 10.8vw 13.3333333333vw 10.8vw;
}
@media screen and (min-width: 1500px) {
  #menuchic {
    align-content: center;
    margin: 28px auto 200px auto;
  }
}
@media screen and (max-width: 500px) {
  #menuchic {
    justify-content: center;
    margin: 6% 0 6% 0;
    width: 100%;
    height: 100%;
    align-content: initial;
  }
}
#menuchic .debut {
  margin-top: 10vw;
  margin-bottom: 6.6666666667vw;
  text-align: center;
}
@media screen and (min-width: 1500px) {
  #menuchic .debut {
    margin-top: 150px;
    margin-bottom: 100px;
  }
}
#menuchic .debut h3 {
  font-family: "Croissant One", cursive;
  font-weight: 300;
  background: linear-gradient(157deg, #d8852e 30%, #905bfd 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5vw;
}
@media screen and (min-width: 1500px) {
  #menuchic .debut h3 {
    font-size: 50px;
  }
}
@media screen and (max-width: 500px) {
  #menuchic .debut {
    margin-top: 16.6666666667vw;
    margin-bottom: 13.3333333333vw;
  }
  #menuchic .debut h3 {
    font-size: 6vw;
  }
}
#menuchic .titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto 3.0666666667vw auto 3.0666666667vw;
}
@media screen and (min-width: 1500px) {
  #menuchic .titre {
    margin: auto 46px auto 46px;
  }
}
#menuchic .titre img {
  width: 32%;
  height: auto;
}
#menuchic .titre h4 {
  font-size: 2.1vw;
  font-family: "Cambria", serif;
  font-weight: 700;
}
@media screen and (min-width: 1500px) {
  #menuchic .titre h4 {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  #menuchic .titre {
    margin: auto 2% 4vw 2%;
  }
  #menuchic .titre img {
    width: 30%;
  }
  #menuchic .titre h4 {
    font-size: 3.2vw;
  }
}
#menuchic .titre1 {
  color: #c67412;
}
#menuchic .titre1 img {
  filter: invert(57%) sepia(50%) saturate(6528%) hue-rotate(16deg) brightness(98%) contrast(86%);
}
#menuchic .titre2 {
  color: #a56799;
}
#menuchic .titre2 img {
  filter: invert(55%) sepia(11%) saturate(1621%) hue-rotate(260deg) brightness(82%) contrast(85%);
}
#menuchic .titre3 {
  color: #6e4ccc;
}
#menuchic .titre3 img {
  filter: invert(31%) sepia(94%) saturate(1243%) hue-rotate(235deg) brightness(84%) contrast(90%);
}
#menuchic .plat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vw 11.3333333333vw 7.3333333333vw 11.3333333333vw;
  line-height: 280%;
  font-size: 1.8vw;
  font-family: "Prociono", serif;
  letter-spacing: 0.2px;
}
@media screen and (min-width: 1500px) {
  #menuchic .plat {
    margin: 30px 170px 110px 170px;
    font-size: 28px;
  }
}
#menuchic .plat .prix {
  font-size: 2.2vw;
  text-align: right;
}
@media screen and (min-width: 1500px) {
  #menuchic .plat .prix {
    font-size: 32px;
  }
}
#menuchic .plat .option1, #menuchic .plat .prix1 {
  color: #c67412;
}
#menuchic .plat .option2, #menuchic .plat .prix2 {
  color: #a56799;
}
#menuchic .plat .option3 {
  color: #6e4ccc;
}
@media screen and (max-width: 500px) {
  #menuchic .plat {
    font-size: 3vw;
    margin: 2vw 4% 7.3333333333vw 4%;
  }
  #menuchic .plat .prix {
    font-size: 3.2vw;
  }
}

#menudelice {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: #edefef;
  max-height: 1684px;
  max-width: 1190px;
  height: 112.2666666667vw;
  width: 79.3333333333vw;
  box-shadow: 0 0 15px #e1e1e1;
  margin: 1.8666666667vw 10.8vw 13.3333333333vw 10.8vw;
}
@media screen and (min-width: 1500px) {
  #menudelice {
    align-content: center;
    margin: 28px auto 200px auto;
  }
}
@media screen and (max-width: 500px) {
  #menudelice {
    justify-items: center;
    margin: 6% 0 6% 0;
    width: 100%;
    height: 100%;
    align-content: initial;
  }
}
#menudelice .debut {
  margin-top: 10vw;
  margin-bottom: 6.6666666667vw;
  text-align: center;
}
@media screen and (min-width: 1500px) {
  #menudelice .debut {
    margin-top: 150px;
    margin-bottom: 100px;
  }
}
#menudelice .debut h3 {
  font-family: "Dancing Script", cursive;
  font-weight: 300;
  background: linear-gradient(113deg, #0228dd 25%, #0887fb 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6.5vw;
}
@media screen and (min-width: 1500px) {
  #menudelice .debut h3 {
    font-size: 75px;
  }
}
@media screen and (max-width: 500px) {
  #menudelice .debut {
    margin-top: 16.6666666667vw;
    margin-bottom: 13.3333333333vw;
  }
  #menudelice .debut h3 {
    font-size: 8vw;
  }
}
#menudelice .titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0.6666666667vw 3.0666666667vw 0.6666666667vw 3.0666666667vw;
}
@media screen and (min-width: 1500px) {
  #menudelice .titre {
    margin: 10px 46px 10px 46px;
  }
}
#menudelice .titre img {
  width: 32%;
  height: auto;
}
#menudelice .titre h4 {
  font-size: 1.9vw;
  font-family: "SegoePrint", cursive;
  font-weight: 500;
}
@media screen and (min-width: 1500px) {
  #menudelice .titre h4 {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  #menudelice .titre {
    margin: auto 2% 4vw 2%;
  }
  #menudelice .titre img {
    width: 30%;
  }
  #menudelice .titre h4 {
    font-size: 3.2vw;
  }
}
#menudelice .titre1 img {
  filter: invert(13%) sepia(100%) saturate(5407%) hue-rotate(234deg) brightness(82%) contrast(116%);
}
#menudelice .titre2 img {
  filter: invert(25%) sepia(87%) saturate(2445%) hue-rotate(205deg) brightness(99%) contrast(96%);
}
#menudelice .titre3 img {
  filter: invert(45%) sepia(79%) saturate(1227%) hue-rotate(182deg) brightness(100%) contrast(96%);
}
#menudelice .plat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vw 11.3333333333vw 3.3333333333vw 11.3333333333vw;
  line-height: 280%;
  font-size: 1.5vw;
  font-family: "SegoePrint", cursive;
  font-weight: 500;
}
@media screen and (min-width: 1500px) {
  #menudelice .plat {
    margin: 30px 170px 50px 170px;
    font-size: 22px;
  }
}
#menudelice .plat .prix {
  font-size: 2.1vw;
  text-align: right;
}
@media screen and (min-width: 1500px) {
  #menudelice .plat .prix {
    font-size: 28px;
  }
}
@media screen and (max-width: 500px) {
  #menudelice .plat {
    font-size: 2.5vw;
    margin: 2vw 4% 7.3333333333vw 4%;
  }
  #menudelice .plat .prix {
    font-size: 3.2vw;
  }
}

#menupalette {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: #fdfffd;
  max-height: 1684px;
  max-width: 1190px;
  height: 112.2666666667vw;
  width: 79.3333333333vw;
  box-shadow: 0 0 15px #e1e1e1;
  margin: 1.8666666667vw 10.8vw 13.3333333333vw 10.8vw;
}
@media screen and (min-width: 1500px) {
  #menupalette {
    align-content: center;
    margin: 28px auto 200px auto;
  }
}
@media screen and (max-width: 500px) {
  #menupalette {
    justify-items: center;
    margin: auto 0 6% 0;
    width: 100%;
    height: 100%;
    align-content: initial;
    box-shadow: initial;
  }
}
#menupalette .debut {
  margin-top: 10vw;
  margin-bottom: 6.6666666667vw;
  text-align: center;
}
@media screen and (min-width: 1500px) {
  #menupalette .debut {
    margin-top: 150px;
    margin-bottom: 100px;
  }
}
#menupalette .debut h3 {
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(113deg, #41963c 17%, #b8fa7c 59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6vw;
  font-weight: 400;
}
@media screen and (min-width: 1500px) {
  #menupalette .debut h3 {
    font-size: 70px;
  }
}
@media screen and (max-width: 500px) {
  #menupalette .debut {
    margin-top: 16.6666666667vw;
    margin-bottom: 13.3333333333vw;
  }
  #menupalette .debut h3 {
    font-size: 7vw;
  }
}
#menupalette .titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0.6666666667vw 3.0666666667vw 0.6666666667vw 3.0666666667vw;
}
@media screen and (min-width: 1500px) {
  #menupalette .titre {
    margin: 10px 46px 10px 46px;
  }
}
#menupalette .titre img {
  width: 32%;
  height: auto;
}
#menupalette .titre h4 {
  font-size: 1.9vw;
  font-family: "SegoePrint", cursive;
  font-weight: 500;
}
@media screen and (min-width: 1500px) {
  #menupalette .titre h4 {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  #menupalette .titre {
    margin: auto 2% 4vw 2%;
  }
  #menupalette .titre img {
    width: 30%;
  }
  #menupalette .titre h4 {
    font-size: 3.2vw;
  }
}
#menupalette .plat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vw 9vw 3.3333333333vw 9vw;
  line-height: 280%;
  font-size: 1.5vw;
  font-family: "SegoePrint", cursive;
  font-weight: 500;
}
@media screen and (min-width: 1500px) {
  #menupalette .plat {
    margin: 30px 135px 50px 135px;
    font-size: 22px;
  }
}
#menupalette .plat .prix {
  font-size: 2.1vw;
  text-align: right;
}
@media screen and (min-width: 1500px) {
  #menupalette .plat .prix {
    font-size: 27px;
  }
}
@media screen and (max-width: 500px) {
  #menupalette .plat {
    font-size: 2.3vw;
    margin: 2vw 4% 7.3333333333vw 4%;
  }
  #menupalette .plat .prix {
    font-size: 3.2vw;
  }
}

#mention {
  height: auto;
  width: 53.3333333333vw;
  font-size: 1.5vw;
  margin: 5.3333333333vw auto 10vw auto;
}
#mention p {
  font-size: 1vw;
  text-align: justify;
}
#mention .mentionh2 {
  text-align: center;
  font-size: 1.8vw;
  margin-bottom: 1.3333333333vw;
  margin-top: 1.3333333333vw;
}
#mention .mentionh3 {
  text-align: center;
  font-size: 1.3vw;
  margin-bottom: 1.3333333333vw;
  margin-top: 1.3333333333vw;
}

header {
  display: flex;
  background-color: #579c87;
  width: 100%;
  max-width: 100%;
  height: 16.2vw;
  max-height: 124px;
  border-bottom: 0.1333333333vw solid #a1c181;
}
@media screen and (min-width: 1100px) {
  header {
    border-bottom: 2px;
  }
}
header h1 {
  font-size: 6vw;
  color: #fdcb46;
  letter-spacing: -2px;
  margin: auto;
  align-self: center;
}
@media screen and (min-width: 1100px) {
  header h1 {
    font-size: 66px;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  width: 100%;
  height: 100%;
}
main .menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 6.6vw 10.8vw 5.6vw 10.8vw;
}
@media screen and (min-width: 1500px) {
  main .menu {
    margin: 4.6666666667vw auto 2vw auto;
    justify-content: space-around;
  }
}
@media screen and (max-width: 500px) {
  main .menu {
    flex-direction: column;
    align-content: center;
  }
}
main .menu figure {
  display: flex;
  height: 50.5333333333vw;
  width: 35.7333333333vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 0 15px #e1e1e1;
}
@media screen and (min-width: 1500px) {
  main .menu figure {
    height: 40vw;
    width: 28.2666666667vw;
  }
}
@media screen and (max-width: 500px) {
  main .menu figure {
    height: 93.3333333333vw;
    width: 66vw;
  }
}
main .menu figure h2 {
  width: 35vw;
  z-index: 2;
  font-size: 3vw;
}
@media screen and (min-width: 1500px) {
  main .menu figure h2 {
    width: 28.2666666667vw;
  }
}
@media screen and (max-width: 500px) {
  main .menu figure h2 {
    width: 55vw;
    font-size: 4.5vw;
  }
}
main .menu figure h3 {
  padding-top: 10%;
  font-size: 3vw;
}
@media screen and (max-width: 500px) {
  main .menu figure h3 {
    font-size: 5vw;
  }
}

#note {
  margin-bottom: 6.2666666667vw;
}
#note figure {
  background-color: #fcdfdb;
}
#note figure span {
  font-size: 5vw;
  background: linear-gradient(90deg, #f04d5f 0%, #f6916a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 500px) {
  #note figure span {
    font-size: 8vw;
  }
}
#note figure h2 {
  font-family: "Devonshire", cursive;
  font-weight: 300;
  color: #3d1319;
}
#note figure h3 {
  font-family: "SegoePrintBold";
  color: #3d1319;
}

#chic {
  margin-bottom: 6.2666666667vw;
}
#chic figure {
  background-color: #fff5fe;
}
#chic h2 {
  font-family: "Croissant One", cursive;
  font-weight: 300;
  background: linear-gradient(157deg, #d8852e 30%, #905bfd 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2vw;
}
@media screen and (max-width: 500px) {
  #chic h2 {
    font-size: 3.5vw;
  }
}
#chic h3 {
  color: #c67412;
}

#delice {
  margin-bottom: 6.2666666667vw;
}
#delice figure {
  background-color: #edefef;
}
#delice h2 {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(113deg, #0228dd 25%, #0887fb 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#delice h3 {
  font-family: "SegoePrint";
  color: #0887fb;
}

#palette {
  margin-bottom: 6.2666666667vw;
}
@media screen and (min-width: 1500px) {
  #palette {
    margin-left: auto;
    margin-right: auto;
  }
}
#palette figure {
  background-color: #fdfffd;
}
#palette h2 {
  font-family: "Kaushan Script", cursive;
  background: linear-gradient(113deg, #41963c 17%, #b8fa7c 59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#palette h3 {
  font-family: "SegoePrint";
  color: #72bf56;
}

aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
aside .next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43.6vw;
  height: 7.8666666667vw;
  background-color: #579c87;
  margin-bottom: 14.6666666667vw;
  border-radius: 1.3333333333vw;
}
@media screen and (min-width: 1100px) {
  aside .next {
    width: 480px;
    height: 87px;
    margin-bottom: 160px;
    border-radius: 20px;
  }
}
aside .next p {
  color: #fdcb46;
  font-size: 4vw;
  margin: 0;
}
@media screen and (min-width: 1100px) {
  aside .next p {
    font-size: 43px;
  }
}
aside .next #points {
  display: flex;
  align-self: flex-end;
  margin-bottom: 1.6666666667vw;
  margin-left: 0.6666666667vw;
}
@media screen and (min-width: 1100px) {
  aside .next #points {
    margin-bottom: 20px;
    margin-left: 13px;
  }
}
aside .next #points .point {
  margin: 0.8666666667vw;
  width: 0.8666666667vw;
  height: 0.8666666667vw;
  border-radius: 50%;
  background-color: #fdcb46;
}
@media screen and (min-width: 1100px) {
  aside .next #points .point {
    margin: 10px;
    width: 10px;
    height: 10px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: #579c87;
  width: 100%;
  max-width: 100vw;
  height: 9.0666666667vw;
  max-height: 75px;
  border-top: 0.1333333333vw solid #a1c181;
}
@media screen and (min-width: 1100px) {
  footer {
    border-top: 2px;
  }
}
footer nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-left: 2.8vw;
  margin-right: 2.8vw;
}
footer nav h2 {
  font-size: 3vw;
}
@media screen and (min-width: 1100px) {
  footer nav h2 {
    font-size: 34px;
  }
}
footer nav h2 a {
  color: #fdcb46;
  text-decoration: none;
  font-weight: 500;
}

main .menu figure:hover h2 {
  transition: all 0.5s ease-in-out;
  opacity: 0.6;
  font-size: 3.5vw;
}
@media screen and (max-width: 500px) {
  main .menu figure:hover h2 {
    font-size: 6vw;
  }
}
main .menu figure:hover h3 {
  transition: all 0.5s ease-in-out;
  opacity: 0.6;
  font-size: 4vw;
}
@media screen and (max-width: 500px) {
  main .menu figure:hover h3 {
    font-size: 6vw;
  }
}

#note figure:hover span {
  transition: all 0.5s ease-in-out;
  opacity: 0.6;
  font-size: 6vw;
  transform: scale(1);
}
@media screen and (max-width: 500px) {
  #note figure:hover span {
    font-size: 10vw;
  }
}

#chic figure:hover h2 {
  transition: all 0.5s ease-in-out;
  opacity: 0.6;
  font-size: 2.3vw;
}
@media screen and (max-width: 500px) {
  #chic figure:hover h2 {
    font-size: 4.5vw;
  }
}

footer nav h2:hover {
  animation: wiggle 0.8s 0.1s ease-in-out infinite alternate;
}

aside .next #points .point:nth-child(1) {
  animation: pulse 2s 0s infinite;
}
aside .next #points .point:nth-child(2) {
  animation: pulse 2s 0.2s infinite;
}
aside .next #points .point:nth-child(3) {
  animation: pulse 2s 0.4s infinite;
}

#menunote .titre h4, #menudelice .titre h4, #menuchic .titre h4, #menupalette .titre h4 {
  background: linear-gradient(to top, #fdcb46 8%, transparent 8.01%) no-repeat;
  background-size: 0 100%;
  transition: background-size 500ms;
}
#menunote .titre h4:hover, #menudelice .titre h4:hover, #menuchic .titre h4:hover, #menupalette .titre h4:hover {
  background-size: 100% 100%;
}

/*@media (prefers-reduced-motion: reduce) {
    .animation {
    animation: none;
}*/

/*# sourceMappingURL=style.css.map */
