header {
    @include medium{
        border-bottom: 2px;  
    } 
    display: flex;
    background-color: $color-back;
    width: 100%;
    max-width: 100%;
    height: (243px/$width-body)*100vw;
    max-height: 124px;
    border-bottom: (2px/$width-body)*100vw solid $color-border;
    h1{
        @include medium{
            font-size: 66px;
        }
        font-size: 6vw;
        color: $color-title;
        letter-spacing: -2px;
        margin: auto;
        align-self: center;
    }
 }
