main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    width: 100%;
    height:100%;
    .menu{
        @include large{
            margin: (70px/$width-body)*100vw auto (30px/$width-body)*100vw auto;
            justify-content: space-around;
        }
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: (99px/$width-body)*100vw (162px/$width-body)*100vw (84px/$width-body)*100vw (162px/$width-body)*100vw;
        @include mobile{
            flex-direction: column;
            align-content: center;
        }
        figure{
            @include large{
                height: (600px/$width-body)*100vw;
                width: (424px/$width-body)*100vw;
            }
            display: flex;
            height: (758px/$width-body)*100vw;
            width: (536px/$width-body)*100vw;
            align-items: center;
            justify-content: center;
            text-align: center;
            box-shadow: 0 0 15px rgb(225, 225, 225);
            @include mobile{
                height: (1400px/$width-body)*100vw;
                width: (990px/$width-body)*100vw;
            }
            h2{
                @include large{
                    width: (424px/$width-body)*100vw;
                }
                width: 35vw;
                z-index: 2;
                font-size: 3vw;
                @include mobile{
                    width: 55vw;
                    font-size: 4.5vw;
                }
            }
            h3{
                padding-top: 10%;
                font-size: 3vw;
                @include mobile{
                    font-size: 5vw;
                }
            }
        }
    }
}
#note{
    margin-bottom: (94px/$width-body)*100vw;
    figure{
        background-color: $color-note;
        span{
            font-size: 5vw;
            background: linear-gradient(90deg, rgba(240,77,95,1) 0%, rgba(246,145,106,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @include mobile{
            font-size: 8vw;
        }
        }
        h2{
            font-family: 'Devonshire', cursive;
            font-weight: 300;
            color: #3d1319;
        }
        h3{
            font-family: 'SegoePrintBold';
            color: #3d1319; 
        }
    }   
}

#chic{
    margin-bottom: (94px/$width-body)*100vw;
    figure{
        background-color: $color-chic;
    }
    h2{
        font-family: 'Croissant One', cursive;
        font-weight: 300;
        background: linear-gradient(157deg, rgba(216,133,46,1) 30%, rgba(144,91,253,1) 67%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2vw;
        @include mobile{
            font-size: 3.5vw;
        }
    }
    h3{
        color: #c67412;
    }
}
#delice{
    margin-bottom: (94px/$width-body)*100vw;
    figure{
        background-color: $color-delice;
    }
    h2{
        font-family: 'Dancing Script', cursive;
        background: linear-gradient(113deg, rgba(2,40,221,1) 25%, rgba(8,135,251,1) 67%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
    h3{
        font-family: 'SegoePrint';
        color: #0887fb;
    }
}
#palette{
    @include large{
        margin-left: auto;
        margin-right: auto;
    }
    margin-bottom: (94px/$width-body)*100vw;
     figure{
        background-color: $color-palette;
    }
    h2{
        font-family: 'Kaushan Script', cursive;
        background: linear-gradient(113deg, rgba(65,150,60,1) 17%, rgba(184,250,124,1) 59%); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h3{
        font-family: 'SegoePrint';
        color: #72bf56;
    }
}
aside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    .next{
        @include medium{
            width: 480px;
            height: 87px;
            margin-bottom: 160px;
            border-radius: 20px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        width: (654px/$width-body)*100vw;
        height: (118px/$width-body)*100vw;
        background-color: $color-back;
        margin-bottom: (220px/$width-body)*100vw;
        border-radius: (20px/$width-body)*100vw;
        p{
            @include medium{
                font-size: 43px;
            } 
            color: $color-title;
            font-size: 4vw;
            margin: 0;
        }
        #points{
            @include medium{
                margin-bottom: 20px;
                margin-left: 13px;
            }
            display: flex;
            align-self: flex-end;
            margin-bottom: (25px/$width-body)*100vw;
            margin-left: (10px/$width-body)*100vw;
            .point{
                @include medium{
                    margin: 10px;
                    width: 10px;
                    height: 10px;
                }
                margin: (13px/$width-body)*100vw;
                width: (13px/$width-body)*100vw;
                height: (13px/$width-body)*100vw;
                border-radius: 50%;
                background-color: $color-title;
            }
        }
    }
}