main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    width: 100%;
    max-width: $width-body;
    .menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: (99px/$width-body)*100vw (162px/$width-body)*100vw (84px/$width-body)*100vw (162px/$width-body)*100vw;
    @include mobile{
        flex-direction: column;
        align-content: center;
    }
    }
    figure{
        @include large{
            max-height: (758px*$large)/$width-body;
            max-width: (536px*$large)/$width-body;
        }
        display:flex;
        height: (758px/$width-body)*100vw;
        width: (536px/$width-body)*100vw;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0 0 15px rgb(225, 225, 225);
        @include mobile{
            height: (900px/$width-body)*100vw;
            width: (636px/$width-body)*100vw;
        }
        h2{
            width: 25vw;
            font-size: 3vw;
        }
        h3{
            padding-top: 10%;
            font-size: 3vw;
        }
    }
}
#note{
    margin-bottom: (94px/$width-body)*100vw;
    figure{
        background-color: $color-note;
        span{
            font-size: 5vw;
            background: linear-gradient(90deg, rgba(240,77,95,1) 0%, rgba(246,145,106,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h2{
            font-family: 'Devonshire', cursive;
            font-weight: 300;
            color: #3d1319;
        }
        h3{
            font-family: "Segoe Print";
            color: #3d1319;
            
        }
    @include mobile{
        padding: 0;
    }
    }   
}

#chic{
    margin-bottom: (94px/$width-body)*100vw;
    figure{
        background-color: $color-chic;
    }
    h2{
        font-family: 'Croissant One', cursive;
        font-size: 2vw;
        font-weight: 300;
        background: linear-gradient(143deg, rgba(198,116,18,1) 0%, rgba(165,103,153,1) 60%, rgba(110,76,204,1) 99%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h3{
        color: #c67412;
        font-size: 3vw;
    }
}
#delice{
    margin-bottom: (94px/$width-body)*100vw;
    figure{
        background-color: $color-delice;
    }
    h2{
        font-family: 'Dancing Script', cursive;
        font-size: 3vw;
        background: linear-gradient(113deg, rgba(2,40,221,1) 25%, rgba(8,135,251,1) 67%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
    h3{
        font-family: "SegoePrint";
        color: #0887fb;
        font-size: 3vw;
    }
}
#palette{
    margin-bottom: (94px/$width-body)*100vw;
     figure{
        background-color: $color-palette;
    }
    h2{
        font-family: 'Kaushan Script', cursive;
        font-size: 3vw;
        background: linear-gradient(113deg, rgba(65,150,60,1) 17%, rgba(184,250,124,1) 59%); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h3{
        font-family: "SegoePrint";
        color: #72bf56;
        font-size: 3vw;
    }
}
aside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    .next{
        @include large{
            width: 480px;
            height: 87px;
            margin-bottom: 160px;
            border-radius: 20px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        width: (654px/$width-body)*100vw;
        height: (118px/$width-body)*100vw;
        background-color: $color-back;
        margin-bottom: (220px/$width-body)*100vw;
        border-radius: (20px/$width-body)*100vw;
        p{
            @include large{
                font-size: 35px;
            } 
            color: $color-title;
            font-size: 4vw;
            margin: 0;
        }
    }
}