h1, h2, h3, h4, img, figure, p{
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Montserrat', serif;
}
a{
    text-decoration: none;
    outline: none;
    color: $color-title;
    cursor: pointer;
}