h1, h2, h3, h4, img, figure, p{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    max-width: 1500px;
    height: 100%;
    max-height: 2388px;
    margin: auto;
    font-family: 'Montserrat', serif;
}
a{
    text-decoration: none;
    outline: none;
    color: $color-title;
    cursor: pointer;
}