#h2{
    @include large{
        font-size: 32px;
        margin-top: 60px;  
    }
    text-align: center;
    font-size: 3vw;
    margin-top: (60px/$width-body)*100vw;
}
#menunote{
    @include large{
        align-content: center; 
        margin: 28px auto 200px auto;   
    }
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: $color-note;
    max-height: 1684px;
    max-width: 1190px;
    height: (1684px/$width-body)*100vw;
    width: (1190px/$width-body)*100vw;
    box-shadow: 0 0 15px rgb(225, 225, 225);
    margin: (28px/$width-body)*100vw (162px/$width-body)*100vw (200px/$width-body)*100vw (162px/$width-body)*100vw;
    @include mobile{
        margin: 6% 0 6% 0;
        width: 100%;
        height: 100%;
        align-content: initial;
    }
    .debut{
        @include large{
            margin-bottom: 40px;
        }
        margin-bottom: (40px/$width-body)*100vw;
        text-align: center;
        span{
            @include large{
                font-size: 80px;
                margin-top: 90px;
            }
            margin-top: (90px/$width-body)*100vw;
            font-size: 6vw;
            background: linear-gradient(90deg, rgba(240,77,95,1) 0%, rgba(246,145,106,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h3{
            @include large{
                font-size: 70px;
            }
            font-size: 5vw;
            color: #3d1319;
            font-family: 'Devonshire' , cursive;
            font-weight: 400; 
        }
        @include mobile{
            margin-bottom: (60px/$width-body)*100vw;
            span{
                font-size: 8vw;
            }
            h3{
                font-size: 7vw;         
            }
        }
    }
    .fin{
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        align-items: center;
        justify-content: center;
        span{
            @include large{
                font-size: 60px;
                margin-right: 15px;
            }
            font-size: 4.2vw;
            background: linear-gradient(90deg, rgba(240,77,95,1) 0%, rgba(246,145,106,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-right: (15px/$width-body)*100vw;
        }
        h5{
            @include large{
                font-size: 55px;
            }
            font-family: 'Devonshire' , cursive;
            font-weight: 400;
            font-size: 4vw;
            margin: 0;
        }
        @include mobile{
            margin-bottom: 4%;
            span{
                font-size: 6.2vw;
            }
            h5{
                font-size: 6vw;
            }
        }
    }
    .titre{
        img{
            width: 32%;
            height: auto;
            color: #3d1319;
        }
        h4{
            @include large{
                font-size: 35px;
            }
            font-size: 2.2vw;
            font-family: 'SegoePrintBold' , cursive;
            font-weight: 400;
        }
        @include large{
            margin: auto 126px auto 126px;   
        }display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: auto (126px/$width-body)*100vw auto (126px/$width-body)*100vw;
        @include mobile{
            margin: auto 2% (40px/$width-body)*100vw 2%;
            img{
                width: 30%;
            }
            h4{
                font-size: 3.2vw;
            }
        }
    }
    .plat{
        @include large{
            margin: 30px 129px 110px 129px;
            font-size: 22px;   
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: (30px/$width-body)*100vw (129px/$width-body)*100vw (110px/$width-body)*100vw (129px/$width-body)*100vw;
        line-height: 280%;
        font-size: 1.5vw;
        font-family: 'SegoePrint', cursive;
        .prix{
            font-weight: bold;
            text-align: right;
        }
        @include mobile{
            font-size: 2.5vw;
            margin: (30px/$width-body)*100vw 4% (150px/$width-body)*100vw 4%;
        }
    }
}
#menuchic{
    @include large{
        align-content: center; 
        margin: 28px auto 200px auto;   
    }
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: $color-chic;
    max-height: 1684px;
    max-width: 1190px;
    height: (1684px/$width-body)*100vw;
    width: (1190px/$width-body)*100vw;
    box-shadow: 0 0 15px rgb(225, 225, 225);
    margin: (28px/$width-body)*100vw (162px/$width-body)*100vw (200px/$width-body)*100vw (162px/$width-body)*100vw;
    @include mobile{
        justify-content: center;
        margin: 6% 0 6% 0;
        width: 100%;
        height: 100%;
        align-content: initial;
    }
    .debut{
        @include large{
            margin-top: 150px;
            margin-bottom: 100px;
        }
        margin-top: (150px/$width-body)*100vw;
        margin-bottom: (100px/$width-body)*100vw;
        text-align: center;
        h3{
            @include large{
                font-size: 50px;
            }
            font-family: 'Croissant One', cursive;
            font-weight: 300;
            background: linear-gradient(157deg, rgba(216,133,46,1) 30%, rgba(144,91,253,1) 67%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 3.5vw;   
        }
        @include mobile{
            margin-top: (250px/$width-body)*100vw;
            margin-bottom: (200px/$width-body)*100vw;
            h3{
                font-size: 6vw;         
            }
        }
    }
    .titre{
        @include large{
            margin: auto 46px auto 46px;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: auto (46px/$width-body)*100vw auto (46px/$width-body)*100vw;
        img{
            width: 32%;
            height: auto;
        }
        h4{
            @include large{
                font-size: 30px;
            }
            font-size: 2.1vw;
            font-family: 'Cambria', serif;
            font-weight: 700;
        }
        @include mobile{
            margin: auto 2% (60px/$width-body)*100vw 2%;
            img{
                width: 30%;
            }
            h4{
                font-size: 3.2vw;
            }
        }
    }
    .titre1{
        color: #c67412;
        img{
            filter: invert(57%) sepia(50%) saturate(6528%) hue-rotate(16deg) brightness(98%) contrast(86%);
        }
    }
    .titre2{
        color: #a56799;
        img{
            filter: invert(55%) sepia(11%) saturate(1621%) hue-rotate(260deg) brightness(82%) contrast(85%);
        }
    }
    .titre3{
        color: #6e4ccc;
        img{
            filter: invert(31%) sepia(94%) saturate(1243%) hue-rotate(235deg) brightness(84%) contrast(90%);
        }
    }
    .plat{
        @include large{
            margin: 30px 170px 110px 170px;
            font-size: 28px;    
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: (30px/$width-body)*100vw (170px/$width-body)*100vw (110px/$width-body)*100vw (170px/$width-body)*100vw;
        line-height: 280%;
        font-size: 1.8vw;
        font-family: 'Prociono', serif;
        letter-spacing: 0.2px;
        .prix{
            @include large{
                font-size: 32px;
            }
            font-size: 2.2vw;
            text-align: right;
        }
        .option1, .prix1{
            color: #c67412;
        }
        .option2, .prix2{
            color: #a56799;
        }
        .option3{
            color: #6e4ccc;
        }
        @include mobile{
            font-size: 3vw;
            margin: (30px/$width-body)*100vw 4% (110px/$width-body)*100vw 4%;
            .prix{
                font-size: 3.2vw;
            }
        }
    }
}
#menudelice{
    @include large{
        align-content: center; 
        margin: 28px auto 200px auto;   
    }
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: $color-delice;
    max-height: 1684px;
    max-width: 1190px;
    height: (1684px/$width-body)*100vw;
    width: (1190px/$width-body)*100vw;
    box-shadow: 0 0 15px rgb(225, 225, 225);
    margin: (28px/$width-body)*100vw (162px/$width-body)*100vw (200px/$width-body)*100vw (162px/$width-body)*100vw;
    @include mobile{
        justify-items: center;
        margin: 6% 0 6% 0;
        width: 100%;
        height: 100%;
        align-content: initial;
    }
    .debut{
        @include large{
            margin-top: 150px;
            margin-bottom: 100px;
        }
        margin-top: (150px/$width-body)*100vw;
        margin-bottom: (100px/$width-body)*100vw;
        text-align: center;
        h3{
            @include large{
                font-size: 75px;
            }
            font-family: 'Dancing Script', cursive;
            font-weight: 300;
            background: linear-gradient(113deg, rgba(2,40,221,1) 25%, rgba(8,135,251,1) 67%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 6.5vw; 
        }
        @include mobile{
            margin-top: (250px/$width-body)*100vw;
            margin-bottom: (200px/$width-body)*100vw;
            h3{
                font-size: 8vw;         
            }
        }
    }
    .titre{
        @include large{
            margin: 10px 46px 10px 46px;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: (10px/$width-body)*100vw (46px/$width-body)*100vw (10px/$width-body)*100vw (46px/$width-body)*100vw;
        img{
            width: 32%;
            height: auto;
        }
        h4{
            @include large{
                font-size: 30px;
            }
            font-size: 1.9vw;
            font-family: 'SegoePrint', cursive;
            font-weight: 500;
        }
        @include mobile{
            margin: auto 2% (60px/$width-body)*100vw 2%;
            img{
                width: 30%;
            }
            h4{
                font-size: 3.2vw;
            }
        }
    }
    .titre1{
        img{
            filter: invert(13%) sepia(100%) saturate(5407%) hue-rotate(234deg) brightness(82%) contrast(116%);
        } 
    }
    .titre2{
        img{
            filter: invert(25%) sepia(87%) saturate(2445%) hue-rotate(205deg) brightness(99%) contrast(96%);
        }
    }
    .titre3{
        img{
            filter: invert(45%) sepia(79%) saturate(1227%) hue-rotate(182deg) brightness(100%) contrast(96%);
        }  
    }
    .plat{
        @include large{
            margin: 30px 170px 50px 170px;
            font-size: 22px;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: (30px/$width-body)*100vw (170px/$width-body)*100vw (50px/$width-body)*100vw (170px/$width-body)*100vw;
        line-height: 280%;
        font-size: 1.5vw;
        font-family: 'SegoePrint', cursive;
        font-weight: 500;
        .prix{
            @include large{
                font-size: 28px
            }
            font-size: 2.1vw;
            text-align: right;
        }
        @include mobile{
            font-size: 2.5vw;
            margin: (30px/$width-body)*100vw 4% (110px/$width-body)*100vw 4%;
            .prix{
                font-size: 3.2vw;
            }
        }
    }
}
#menupalette{
    @include large{
        align-content: center; 
        margin: 28px auto 200px auto;   
    }
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: $color-palette;
    max-height: 1684px;
    max-width: 1190px;
    height: (1684px/$width-body)*100vw;
    width: (1190px/$width-body)*100vw;
    box-shadow: 0 0 15px rgb(225, 225, 225);
    margin: (28px/$width-body)*100vw (162px/$width-body)*100vw (200px/$width-body)*100vw (162px/$width-body)*100vw;
    @include mobile{
        justify-items: center;
        margin: auto 0 6% 0;
        width: 100%;
        height: 100%;
        align-content: initial;
        box-shadow: initial;
    }
    .debut{
        @include large{
            margin-top: 150px;
            margin-bottom: 100px;
        }
        margin-top: (150px/$width-body)*100vw;
        margin-bottom: (100px/$width-body)*100vw;
        text-align: center;
        h3{
            @include large{
                font-size: 70px;
            }
            font-family: 'Kaushan Script', cursive;
            background: linear-gradient(113deg, rgba(65,150,60,1) 17%, rgba(184,250,124,1) 59%); 
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 6vw;
            font-weight: 400;
        }
        @include mobile{
            margin-top: (250px/$width-body)*100vw;
            margin-bottom: (200px/$width-body)*100vw;
            h3{
                font-size: 7vw;         
            }
        }
    }
    .titre{
        @include large{
            margin: 10px 46px 10px 46px;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: (10px/$width-body)*100vw (46px/$width-body)*100vw (10px/$width-body)*100vw (46px/$width-body)*100vw;
        img{
            width: 32%;
            height: auto;
        }
        h4{
            @include large{
                font-size: 30px;
            }
            font-size: 1.9vw;
            font-family: 'SegoePrint', cursive;
            font-weight: 500;
        }
        @include mobile{
            margin: auto 2% (60px/$width-body)*100vw 2%;
            img{
                width: 30%;
            }
            h4{
                font-size: 3.2vw;
            }
        }
    }
    .plat{
        @include large{
            margin: 30px 135px 50px 135px;
            font-size: 22px;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: (30px/$width-body)*100vw (135px/$width-body)*100vw (50px/$width-body)*100vw (135px/$width-body)*100vw;
        line-height: 280%;
        font-size: 1.5vw;
        font-family: 'SegoePrint', cursive;
        font-weight: 500;
        .prix{
            @include large{
                font-size: 27px;
            }
            font-size: 2.1vw;
            text-align: right;
        }
        @include mobile{
            font-size: 2.3vw;
            margin: (30px/$width-body)*100vw 4% (110px/$width-body)*100vw 4%;
            .prix{
                font-size: 3.2vw;
            }
        }
    }
}
