#mention{
    height: auto;
    width: (800px/$width-body)*100vw;
    font-size: 1.5vw;
    margin: (80px/$width-body)*100vw auto (150px/$width-body)*100vw auto;
    p{
        font-size: 1vw;
        text-align: justify;
    }
    .mentionh2{
        text-align: center;
        font-size: 1.8vw;
        margin-bottom: (20px/$width-body)*100vw;
        margin-top: (20px/$width-body)*100vw;
    }
    .mentionh3{
        text-align: center;
        font-size: 1.3vw;
        margin-bottom: (20px/$width-body)*100vw;
        margin-top: (20px/$width-body)*100vw;
    }
}