#mention{
    height: auto;
    width: (1190px/$width-body)*100vw;
    font-size: 1.5vw;
    margin: (80px/$width-body)*100vw (162px/$width-body)*100vw (150px/$width-body)*100vw(162px/$width-body)*100vw;
}