$color-title: #fdcb46;
$color-back: #579c87;
$color-border: #a1c181;
$color-note: #fcdfdb;
$color-chic: #fff5fe;
$color-delice: #edefef;
$color-palette: #fdfffd;

$height-body: 2388px;
$width-body: 1500px;

$large: 1500px;
$mobile: 500px;
$medium: 1100px;

$breakpoints: (
    mobile:$mobile,
    large:$large,
    medium:$medium
);

@font-face {
    font-family: 'SegoePrint';
    src: url('../fonts/segoepr.ttf') format("truetype");      
}

@font-face {
    font-family: 'SegoePrintBold';
    src: url('../fonts/segoeprb.ttf') format("truetype");      
}
